<!-- C\Code\mysite\elections\templates\elections\index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>창문 page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<form  method = "GET">
    
    <div class="container">
        <form  method = "GET" >
            <table>
                <tr>
                    <td>창문 &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        창문 열기/닫기
                        <button type = "submit" name = "rain_condition" value = "1">open</button>
                        <button type = "submit" name = "rain_condition" value = "0">close</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        자동제어
                        <button type = "submit" name = "rain_is_auto" value = "1">auto on</button>
                        <button type = "submit" name = "rain_is_auto" value = "-1">auto off</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="main_weather">Today's weather &nbsp;</p>
                        {% if rain.situation == 1 %}
                        <div id="weather_img_div">
                            <img src = "/static/img/weather_rain.png" class="weather_img">
                            {% endif %}
                            {% if rain.situation == 0 %}
                            <img src = "/static/img/weather_sun.png" class="weather_img">
                            {% endif %}
                        </div>
                     </td>           
                </tr>
            </table>
        </form>
        <a href="/">홈으로 이동</a>
    </div>
</body>